<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">SquireLogic</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">HR <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{{ url_for('hr') }}">HR</a></li>
          <li><a href="{{ url_for('students') }}">Students</a></li>
          <li><a href="{{ url_for('trainers') }}">Trainers</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            {% if session_user_name %}
            Welcome {{ session_user_name }}
            {% endif %}
          </a>
      </li>
      <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <h2>{% if method_type=='edit' %} Edit {% else %} Add {% endif %} HR  </h2>
  <form action="{% if method_type=='edit' %}{{ url_for('crud_hr') }}{% else %}{{ url_for('hr') }}{% endif %}" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter Name " name="name" required value="{% if method_type=='edit'%} {{ hr_data['name'] }}{% endif %}">
          {% if method_type=='edit' %}<input type="hidden" id="id" name="id" value="{{ hr_data['id'] }}">{% endif %}
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required value="{% if method_type=='edit'%} {{ hr_data['email_id'] }}{% endif %}">
      </div>
      <div class="form-group">
        <label for="phone">Phone No:</label>
        <input type="number" class="form-control" id="phone" placeholder="Enter Phone Number" name="phone" required value="{% if method_type=='edit' %}{{ hr_data['phone_no']}}{% endif %}">
      </div>
      <div class="form-group">
        <label>Sex</label>
        <div class="radio">
          <label><input type="radio" value="male" name="gender_type" {% if hr_data['sex']=='male' %} checked{% endif %}>Male</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="female" name="gender_type" {% if hr_data['sex']=='female' %} checked{% endif %} >Female</label>
        </div>
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="number" class="form-control" id="salary" placeholder="Enter Salary" name="salary" required value="{% if method_type=='edit'%}{{ hr_data['salary'] }}{% endif %}">
      </div>
      <button type="reset" class="btn btn-warning" >Clear</button>
      <button type="submit" class="btn btn-primary" > {% if method_type=='edit' %}Update {% else %} Submit {% endif %}</button>
  </form>
</div>
</body>
</html>